@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
}

* {
    padding: 0;
}

.parte_de_cima {
    display: flex;
    justify-content: center; /* Alinha os itens à esquerda */
    align-items: center;
    padding: 10px 20px; /* Reduzindo o padding para aproximar os elementos */
    background: #FFFFFF61;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajuste a distância do topo conforme necessário */
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    margin: 0 15px; /* Reduzindo a margem entre os itens do menu */
    text-decoration: none;
    color: #333;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
}

.contact-button a {
    background-color: #FFBA02;
    margin-left: 5px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.contact-button {
    margin-left:200px;
}

.apresentacao {
    margin: 3% 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.apresentacao-conteudo {
    width: 100vw; /* Ocupar toda a largura da viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 60px 60px 60px 60px;
    padding: 170px 0; /* Adiciona espaçamento vertical */
    margin: 0; /* Remove qualquer margem */
    background: linear-gradient(90deg, #EAE8FD 0%, #FCE5E6 100%); /* Aplica o gradiente à seção inteira */

}

.apresentacao-conteudo-titulo {
    width: 934px;
    height: 98.33px;
    top: 160px;
    left: 253px;
    gap: 0px;
    opacity: 0px;

    font-family: 'Public Sans', sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    background: linear-gradient(90deg, #28C76F 0%, #5A4AFF 50%, #FF3739 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apresentacao-conteudo-texto {
    width: 934px;
    height: 98.33px;
    top: 160px;
    left: 253px;
    gap: 0px;
    opacity: 0px;

    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #432005;
}

.apresentacao-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.apresentacao-botao {
    background-color:#FFBA02;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.contact-button .icon {
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
    margin-right: 15px; /* Espaço entre o ícone e o texto */
    position: relative;
    top: 3px
}

.features {
    padding: 40px 100px ;
    margin-left: 100px;
    margin-right: 100px;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
}

.features-title {
    font-family: 'Public Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas para telas maiores */
    gap: 20px;
    padding: 20px;
}

.feature-card {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 0;
    margin: 20px;
    text-align: center;
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.feature-title {
    
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    color: #432005
}

.feature-description {
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    line-height: 22px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 1024px) {
    .features-container {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas em tablets */
    }
}

@media (max-width: 768px) {
    .features-container {
        grid-template-columns: 1fr; /* Uma coluna em celulares */
    }
    }

.features_titulo {
    width: 944px;
    height: 84px;
    top: 718px;
    left: 248px;
    gap: 0px;
    opacity: 0px;

    font-family: 'Public Sans', sans-serif;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: #432005;

}

.features_paragrafo {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #432005;
}

.features_3 {
    width: 1465px;
    height: 100px;
    top: 1284px;
    padding: 400px;
    gap: 0px;
    border-radius: 60px 60px 0px 0px;
    opacity: 0px;
    background: #F8F7FA;
    

}

.features_titulo3 {
    width: 252px;
    height: 36px;
    top: 1467px;
    left: 96.52px;
    gap: 0px;
    opacity: 0px;

    font-family: Public Sans;
    font-size: 26px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    color: #432005;

}

.features_paragrafo_3 {
    width: 244px;
    height: 44px;
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #432005;

}

.feature_card3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    position: relative;
    width: 262px;
    height: 272px;
    left: 300.13px;
    margin-top: -270px;

    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    border-radius: 6px;

}

.estrela_avaliacao {
    margin-top: -20px;


}

.foto_avaliacao {
    width: 150px;
    margin-top: -10px;

}

.feature_descricao3 {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.team-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.team-title {
    font-family: Public Sans;
    font-size: 26px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
    color: #432005
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    margin-bottom: 10px;
}

.team-description {
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #432005;
    margin-bottom: 40px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cards */
}

.team-member {
    background-color: #f9f9f9;
    border-radius: 90px 20px 6px 6px; /* Ajuste dos cantos */
    padding: 20px;
    width: 220px; /* Largura ligeiramente reduzida para melhorar o layout */
    height: 300px; /* Altura ligeiramente aumentada para ajustar ao conteúdo */
    text-align: center;
    margin-bottom: 30px;
    border: 1px solid #00CFE8; /* Borda azul */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.team-member:hover {
    transform: translateY(-10px); /* Efeito hover para dar dinâmica */
}

.team-photo {
    width: 200px; /* Ajuste de tamanho da imagem */
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid rgba(255, 255, 255, 0.6); /* Borda branca com opacidade */
}

.team-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.team-role {
    font-size: 14px;
    color: #777;
}

@media screen and (max-width: 768px) {
    .team-container {
        flex-direction: column; /* Empilhar cards em telas menores */
        align-items: center;
    }

    .team-member {
        width: 80%; /* Cards ocupam mais espaço em telas pequenas */
    }
}









